@charset "UTF-8";
body {
    font-family: 'Roboto', sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding-top: 60px;
}

.container {
    background: #fff;
    margin: 0 auto;
    padding: 40px;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.nav-links a {
    margin: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
.nav-links a:hover {
    text-decoration: underline;
}
