@charset "UTF-8";
    body {
        font-family: Arial, sans-serif;
        margin: 40px;
        background-color: #f9f9f9;
    }

    h1 {
        color: #333;
        text-align: center;
    }

    form {
        background: #fff;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        margin: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    td {
        padding: 10px;
        vertical-align: top;
    }

    input[type="text"],
    input[type="number"],
    input[type="datetime-local"],
    input[type="select"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
	
	select[name="day"]{
		    width: 104%;
		    padding: 8px;       /* Consistent with text inputs */
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    margin-top: 5px;
		    background-color: white;
		}
		
    input[type="submit"] {
        background-color: #2c3e50;
        color: white;
        border: none;
        padding: 10px 18px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    input[type="submit"]:hover {
        background-color: #1e70c1;
    }